<h2> Edit <%= @student.pretty_name %></h2>
<form action="/students/<%= @student.id %>" method="post">
  <label for="first_name"> First Name: </label>
  <input type="text" name="first_name" id="first_name" value="<%= @student.first_name %>"

  <label for="second_name">Last</label>
</form>>
