<h1> Houses </h1>

<% @houses.each do |house| %>
  <p>
    <a href = "/houses/<%= house.id %>">  <%= house.name %> </a>
  </p>

  <img src= "<%= house.logo%>" alt="<%= house.name %>" height="auto" width="100%" >



<% end %>
